In [207]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
%matplotlib inline

In [331]:
df=pd.read_csv(r"F:\unclean_data.txt",sep=',')

In [332]:
df.head()

,movie_title,num_critic_for_reviews,duration,DIRECTOR_facebook_likes,actor_3_facebook_likes,ACTOR_1_facebook_likes,gross,num_voted_users,Cast_Total_facebook_likes,facenumber_in_poster,num_user_for_reviews,budget,title_year,ACTOR_2_facebook_likes,imdb_score,title_year.1
0,Avatar?ÿ,723,178.0,10,855,1000,760505847,886204.0,4834.0,NaN,3054,237000000,2009,936.0,7.9,2009.0
1,Pirates of the Caribbean: At World's End?ÿ,302,NaN,563,1000,40000,309404152,471220.0,48350.0,NaN,1238,300000000,2007,5000.0,7.1,NaN
2,Spectre?ÿ,602,148.0,20,161,11000,200074175,275868.0,11700.0,1.0,994,245000000,2015,393.0,6.8,2015.0
3,The Dark Knight Rises?ÿ,813,NaN,22000,23000,27000,448130642,1144337.0,106759.0,NaN,2701,250000000,2012,23000.0,8.5,NaN
4,John Carter?ÿ,462,132.0,"""475""",530,640,73058679,212204.0,1873.0,1.0,738,263700000,2012,632.0,6.6,NaN

In [333]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 16 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   movie_title                14 non-null     object
 1   num_critic_for_reviews     14 non-null     int64
 2   duration                   11 non-null     float64
 3   DIRECTOR_facebook_likes    12 non-null     object
 4   actor_3_facebook_likes     14 non-null     int64
 5   ACTOR_1_facebook_likes     14 non-null     int64
 6   gross                      14 non-null     int64
 7   num_voted_users            13 non-null     float64
 8   Cast_Total_facebook_likes  12 non-null     float64
 9   facenumber_in_poster       9 non-null      float64
 10  num_user_for_reviews       14 non-null     int64
 11  budget                     14 non-null     int64
 12  title_year                 14 non-null     int64
 13  ACTOR_2_facebook_likes     13 non-null     float64
 14  imdb_score                 14 non-null     float64
 15  title_year.1               7 non-null      float64
dtypes: float64(7), int64(7), object(2)
memory usage: 1.9+ KB

In [334]:
df.columns

Index(['movie_title', 'num_critic_for_reviews', 'duration',
       'DIRECTOR_facebook_likes', 'actor_3_facebook_likes',
       'ACTOR_1_facebook_likes', 'gross', 'num_voted_users',
       'Cast_Total_facebook_likes', 'facenumber_in_poster',
       'num_user_for_reviews', 'budget', 'title_year',
       'ACTOR_2_facebook_likes', 'imdb_score', 'title_year.1'],
      dtype='object')

# Renaming Columns

In [335]:
df.rename(columns={'num_critic_for_reviews':"critic_reviews",
                  'DIRECTOR_facebook_likes':"fb_likes_director",
                  'actor_3_facebook_likes':"fb_likes_actor_3",
                  'ACTOR_1_facebook_likes':"fb_likes_actor_1",
                  'gross':'gross_revenue',
                  'num_voted_users':"users_vote_count",
                  'Cast_Total_facebook_likes':"fb_likes_cast",
                  'facenumber_in_poster':"actors_on_posters",
                  'num_user_for_reviews':"user_reviews",
                  'ACTOR_2_facebook_likes':"fb_likes_actor_2"},inplace =True)

In [336]:
df.columns

Index(['movie_title', 'critic_reviews', 'duration', 'fb_likes_director',
       'fb_likes_actor_3', 'fb_likes_actor_1', 'gross_revenue',
       'users_vote_count', 'fb_likes_cast', 'actors_on_posters',
       'user_reviews', 'budget', 'title_year', 'fb_likes_actor_2',
       'imdb_score', 'title_year.1'],
      dtype='object')

# Dropping Duplicate columns

In [337]:
df.drop(["title_year.1"],axis=1,inplace=True)

# Check for null values

In [338]:
df.isnull().sum()

movie_title          0
critic_reviews       0
duration             3
fb_likes_director    2
fb_likes_actor_3     0
fb_likes_actor_1     0
gross_revenue        0
users_vote_count     1
fb_likes_cast        2
actors_on_posters    5
user_reviews         0
budget               0
title_year           0
fb_likes_actor_2     1
imdb_score           0
dtype: int64

# null value imputation methods

In [339]:
df.dtypes

movie_title           object
critic_reviews         int64
duration             float64
fb_likes_director     object
fb_likes_actor_3       int64
fb_likes_actor_1       int64
gross_revenue          int64
users_vote_count     float64
fb_likes_cast        float64
actors_on_posters    float64
user_reviews           int64
budget                 int64
title_year             int64
fb_likes_actor_2     float64
imdb_score           float64
dtype: object

In [340]:
df=df.fillna(1)
df_mean_duration=df.duration.fillna(df['duration'].mean())
df_median_duration=df.duration.fillna(df['duration'].median())
df_ffill_duration=df.duration.fillna(method="ffill")
df_bfill_duration=df.duration.fillna(method="bfill")
df_interpolate_duration=df.duration.interpolate()

In [341]:
df=df.fillna(0)

# Change Data Types

In [275]:
df[["actors_on_posters","users_vote_count","fb_likes_cast","fb_likes_actor_2"]]=df[["actors_on_posters","users_vote_count","fb_likes_cast","fb_likes_actor_2"]].astype("int64")

In [277]:
df.dropna(axis=0,inplace=True)

In [280]:
df.fb_likes_director

0        10
1       563
2        20
3     22000
4     "475"
5        23
6        15
7        10
8        10
9       282
10        1
11        1
12      395
13      563
Name: fb_likes_director, dtype: object

# filter and drop a row

In [305]:
index=df[df.fb_likes_director=='"475"'].index

In [307]:
df.drop(index,axis=0,inplace=True)

In [308]:
df.head()

,movie_title,critic_reviews,duration,fb_likes_director,fb_likes_actor_3,fb_likes_actor_1,gross_revenue,users_vote_count,fb_likes_cast,actors_on_posters,user_reviews,budget,title_year,fb_likes_actor_2,imdb_score
0,Avatar?ÿ,723,178.0,10,855,1000,760505847,886204,4834,1,3054,237000000,2009,936,7.9
1,Pirates of the Caribbean: At World's End?ÿ,302,1.0,563,1000,40000,309404152,471220,48350,1,1238,300000000,2007,5000,7.1
2,Spectre?ÿ,602,148.0,20,161,11000,200074175,275868,11700,1,994,245000000,2015,393,6.8
3,The Dark Knight Rises?ÿ,813,1.0,22000,23000,27000,448130642,1144337,106759,1,2701,250000000,2012,23000,8.5
5,Spider-Man 3?ÿ,392,156.0,23,4000,24000,336530303,383056,46055,1,1902,258000000,2007,11000,6.2